<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>M2I High School</title>
    <span th:replace="~{home :: css}"></span>
</head>
<header>
    <span th:replace="~{home :: navbar}"></span>
</header>
<body>
    <div class="bs-body-color d-flex justify-content-center align-items-center flex-column card m-5">
        <h1><span th:text='${((isExist)? "Update" : "Add") + " Student"} '></span></h1>
        <form  class="m-3 d-flex flex-column justify-content-around w-100 h-100 row" th:object="${student}" method="post" th:action='@{ ${(isExist)? "/update" : "/add"}}'>
            <input th:name="id" type="hidden" th:value="${student.getId()}">
            <label class="col-12"  th:for="firstname">Firstname :
                <input class="w-100" th:name="firstname" th:type="text" th:value="${student.getFirstname()}">
            </label>
            <label class="col-12" th:for="lastname">Lastname :
                <input class="w-100"  th:name="lastname" th:type="text" th:value="${student.getLastname()}">
            </label>
            <label class="col-12" th:for="age">Age :
                <input class="w-100" th:name="age" th:type="number" th:value="${student.getAge()}">
            </label>
            <label class="col-12" th:for="email">Email :
                <input class="w-100" th:name="email" type="email" th:value="${student.getEmail()}">
            </label>
            <input class="btn btn-primary col-2 align-self-sm-center align-self-md-end m-3" type="submit" th:value='${(isExist)?"Update":"Add"}'/>
        </form>
        <a class="align-self-end btn btn-outline-primary" th:href="@{/list}" >Back to list</a>
    </div>
</body>
</html>