<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>M2I High School</title>
    <span th:replace="~{home :: css}"></span>
</head>

<header>
    <span th:replace="~{home :: navbar}"></span>
</header>

<body>
<div class="bs-body-color d-flex justify-content-center align-items-center flex-column card m-5">
    <p th:if="${students.isEmpty()}">There is no student</p>
    <div class="d-flex justify-content-center align-items-center flex-column m-3 w-100" th:unless="${students.isEmpty()}">
        <form th:method="get" th:action="@{/search}">
            <label th:for="name">
                <input name="name" th:type="text" placeholder="Name">
            </label>
            <button class="btn btn-primary" th:type="submit">Search</button>
        </form>
        <div class="w-100">
            <h1><span th:text='${(mode.equals("list"))? "Student List" : "Search Result"}'/></h1>
            <table class="table w-100">
                <thead>
                <tr>
                    <th scope="col">Firstname</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Show details</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="student: ${students}">
                        <td><span th:text="${student.getFirstname()}"/></td>
                        <td><span th:text="${student.getLastname()}"/></td>
                        <td class="d-flex justify-content-around">
                            <a th:href="@{/student/{id}(id=${student.getId()})}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="" fill="#000000" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                </svg>
                            </a>
                            <form method="get" th:action='@{/delete/{id}(id=${student.getId()})}'>
                                <input id="delete" name="from" type="hidden">
                                <button class="btn" type="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#dc3545" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                                    </svg>
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="align-self-end m-2">
            <a class="btn btn-primary" th:href="@{/add}">Sign up a student</a>
            <a class="btn btn-outline-primary" th:href="@{/list}" th:if='${mode.equals("search")}'>Back to list</a>
        </div>
    </div>
</div>
</body>
</html>
<script>
    const deleteLink = document.getElementById("delete");
    const currentUrl = window.location.href;
    deleteLink.setAttribute('value',currentUrl);
</script>